markupsafe==2.0.1
gunicorn
transformers
Pillow
torch
torchvision
redis
rich
aiohttp
asyncio
aiofiles
umap-learn
pandas
yale-dhlab-rasterfairy
fire
markupsafe
fastapi
uvicorn[standard]
aioredis
randomname
spacy
spacy_ke
jupyterlab