Flask
flask_restful
gunicorn
transformers
Pillow
torch
torchvision
redis
flask-cors
rich
aiohttp
asyncio
aiofiles
umap-learn
pandas
yale-dhlab-rasterfairy
fire
markupsafe
flask-restful-swagger
fastapi[all]
uvicorn[standard]
aioredis
sse-starlette
randomname
spacy
spacy_ke
jupyter-lab