Flask
flask_restful
gunicorn
transformers
Pillow
torch
torchvision
redis
flask-cors
rich
aiohttp
asyncio
aiofiles
umap-learn
pandas
yale-dhlab-rasterfairy
fire
markupsafe==2.0.1
flask-restful-swagger
fastapi
uvicorn